.editor{
    margin-bottom: 2rem;
    width: 100%;
}
.editor__container{
    background-color: rgb(var(--azul-celeste));
    border-radius: 8px;
    padding: 1.5rem;
    height: 65vh;
    margin-bottom: 2.5rem;
    box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
    .editor{
        grid-area: 'editor';
    }
}
